<a href="https://colab.research.google.com/github/florenskaial118/ML/blob/main/01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Введение в типы объектов Python

В сценариях Python все есть объект. Встроенные типы данных:
- Числа (int)
- Строки (str)
- Списки (list)
- Словари (dict, OrderedDict)
- Кортежи (tuple)
- Файлы (handle)
- Множества (set, Collections)
- Булевы типы (bool)
- Сами типы (int, str, list, dict, tuple, ...)
- None, True, False
- Типы программных единиц (функции, модули, классы)

Источником типа является синтаксис.

Сама переменная - это всего лишь ссылка на объект. Операция присваивания - это выделение памяти под хранение ссылки на некоторый объект.

После объявления операции присваивания объект получает свой набор операций, характерный для его типа (**динамическая типизация**).

Одни и те же операторы с разными типами делают разные операции (**полиморфизм**).

In [ ]:
type(None)

NoneType

In [ ]:
type(str), type(int)

(type, type)

In [ ]:
type(True)

bool

#Чем отличаются операторы “==” и “is”?

Оператор “is” сравнивает **идентификаторы** двух объектов, а оператор “==” сравнивает **значения** двух объектов.

Оператор “is” принимает значение true, если переменные по обе стороны оператора указывают на **один и тот же объект**, и false в противном случае.

Оператор “==” используется, когда **значения** двух операндов равны, тогда условие становится истинным.

In [ ]:
a = 10
b = 100/10
c = 10
print(a is b)
print(a == b)
print(a is c)

False
True
True

In [ ]:
id(a), id(b)

(11122880, 139675133429680)

In [ ]:
a = 'hello'
b = 'hello'
print(a is b)

True

In [ ]:
id(a), id(b)

(139675344626544, 139675344626544)

#Уместны ли кавычки в кавычках?

In [ ]:
print('It's my dog')

SyntaxError: ignored

In [ ]:
print("It's my dog")

It's my dog

In [ ]:
print("It's my dog. She said \"No\"")

It's my dog. She said "No"

#Полезные выражения
##Оператор if ... esle ...

In [ ]:
x, b, c = 108, 10, 8
cond = x < 100
a = b if cond else c
a

In [ ]:
stroka = 'I love programming'
s = 't' if 'gr' in stroka else 'f'
s

't'

In [ ]:
# x, b, c = 108, 10, 8
# x, b, c = 68, 10, 8
x, b, c = 158, 10, 8
cond = x < 100
cond2 = x > 150
a = b if cond else c if cond2 else b*c
a

8

##Операторы повтора

In [ ]:
for i in 1, 2, 3, 'one', 'two', 'three':
    print(i)

1
2
3
one
two
three

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

##for ... else ...
Циклы for также имеют предложение else, с которым большинство из нас не знакомо. Предложение else выполняется после нормального завершения цикла. Это означает, что цикл не встречал оператора break. Они действительно полезны, когда вы понимаете, где их использовать.

Общая конструкция состоит в том, чтобы запустить цикл и найти элемент. Если элемент найден, мы выходим из цикла с помощью оператора break. Есть два сценария, в которых цикл может закончиться. Первый — когда элемент найден и обнаружен разрыв. Второй сценарий заключается в том, что цикл завершается, не встречая оператора break. Теперь мы можем захотеть узнать, какая из них является причиной завершения цикла. Один из способов — установить флаг, а затем проверить его после окончания цикла. Другой — использовать предложение else.

Подробнее: https://book.pythontips.com/en/latest/for_-_else.html

In [ ]:
for n in range(2, 10):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'equals', x, '*', n/x)
      break
  else:
    # loop fell through without finding a factor
    print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

##while ... else ...

In [ ]:
s = 0
i = int(input())
while i < 266:
  i = int(input())
  if i % 10 == 0: break
  s += i
else:
  print(f"s = {s}")

1
2
3
100

#Справка
- The Directory Function `dir()`
- попробуйте также `help()`

In [ ]:
stuff = 'Hello world'
print(type(stuff))
print(dir(stuff))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
type(4)

int

In [ ]:
dir(4)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
print(help(type(stuff)))

#Числовой тип данных и арифметические операторы
- целые числа, десятичные дроби, рациональные числа, мнимые числа.
- Арифметические операторы, `+`,`-`,`*`,`/`.
- `**` возведение в степень
- `//` целочисленое деление
- `%` взятие остатка
- есть модуль `math`

In [ ]:
a = 10.5
print(a+1)
print(a/2)
print(a**3)
print(a//2)
print(a%2)

11.5
5.25
1157.625
5.0
0.5

#Строковый тип данных и операции конкатенации
- Строка - последовательность символов
- Строка всегда указывается в кавычках  `‘Hello’ == “Hello”`
- Оператор `+` означает конкатенацию
- Если строка содержит числа или состоит только из числа она все равно остается строкой!
- Вы можете попытаться привести строку к нужному типу, используя функцию для типизации, например `int()`

###Простые примеры

In [ ]:
str1 = "Hello"
str2 = 'there'
bob = str1 + ' ' + str2
print(bob)

Hello there

In [ ]:
mystr = "'hello'"

In [ ]:
# Пример иллюстрирует ошибку, которая возникает при попытке произвести операцию сложения с разными типами данных
str3 = '123'
str3 = str3 + 1

TypeError: ignored

In [ ]:
x = int(str3) + 1
print(x)

124

In [ ]:
d = 1
x = str3 + str(d)
print(x)

1231

##Что внутри строк?
- Используя *квадратные скобки* можно посмотреть на символ по его адресу (индексу) или нарезать.
- Индекс может быть только целочисленным и **начинается с 0**.
- Внутрь индекса можно подставлять выражения, которые будут подсчитываться “на лету”.
- Индексация строк конечна. Вас ожидает `python error` при использовании индексов больше (или равные), чем длина строки.

###Простые примеры

In [ ]:
fruit = 'banana'
letter = fruit[0]
print('First letter: ' + letter)
w = fruit[-3]
print('Last letter: ' + w)

First letter: b
Last letter: a

In [ ]:
print(fruit[10]) # так как длина слова 6 символов

IndexError: ignored

In [ ]:
i = 2
print(fruit[i])

In [ ]:
print(len(fruit))

#two equivalent expressions
print(fruit[-1])
print(fruit[len(fruit)-1])

6
a
a

In [ ]:
nums = '012345'
print(nums[1:3]) # [1,3)
print(nums[2:5])
print(nums[1:])
print(nums[:3])
print(nums[:-2])
print(nums[:-2:2])
print(nums[5:1:-1])

12
234
12345
012
0123
02
5432

##Строки можно складывать и умножать
- Оператор `+` это оператор конкатенации
- Оператор `*` это оператор повтора

In [ ]:
a = 'Hello'
b = a + 'There'
print(b)

a = 'Hello'
b = a * 3
print(b)

HelloThere
HelloHelloHello

##Строки неизменяемы (!)
- Все объекты в языке делятся на изменяемые и неизменяемые
- При желании можно воспользоваться нарезанием строки или специальными встроенными методами (см. ниже)

In [ ]:
a = 'Hello'
a[0]='C'

TypeError: ignored

In [ ]:
b = 'C' + a[1:]
print(b)

Cello

##Оператор `in`
- Ключевое слово `in` может быть оператором проверки того, находится ли одна строка в другой, или нет
- В этом случае такое выражение вернет логическое `True` или `False` и в дальнейшем может использоваться в условных выражениях `if`

In [ ]:
fruit = 'banana'
print('n' in fruit)
print('m' in fruit)
print('nan' in fruit)

True
False
True

In [ ]:
fruit = 'banana'
b = 'n' in fruit
b

True

##String Library
- str.capitalize()
- str.center(width[, fillchar])
- str.endswith(suffix[, start[, end]])
- str.find(sub[, start[, end]])
- str.lstrip([chars])
- str.join(x [, sep])
- str.replace(old, new[, count])
- str.lower()
- str.rstrip([chars])
- str.strip([chars])
- str.upper()

In [ ]:
print('hello')
print('hello'.center(10))

hello
  hello

##Сменить регистр
Вниманимание! С точки зрения компьютера это разные символы, поэтому необходимо самостоятельно убедиться, что строки находятся в одном регистре.

In [ ]:
fruit = fruit.capitalize()
print(fruit)
fruit = fruit.upper()
print(fruit)
fruit = fruit.lower()
print(fruit)

Banana
BANANA
banana

In [ ]:
'Banana' == 'BANANA'

False

##Поиск по String
- Метод `find()` возвращает индекс по которому начинается подстрока
- `find()` возвращает находку для первого раза
- Если метод ничего не находит то, `find()` вернет -1
- Индексация начинается с 0

In [ ]:
fruit = 'banana'
pos = fruit.find('n')
print(pos)
pos = fruit.find('a')
print(pos)

pos = fruit.find('na')
print(pos)

aa = fruit.find('z')
print(aa)

2
1
2
-1

##Найти и заменить
- Метод `replace()` работает как “найти и заменить” в word
- Он возвращает Новую строку, в которой заменены все найденные подстроки.

In [ ]:
animal = fruit.replace('n', 'k')
print(animal)
animal = animal.replace('k', 'n',1)
print(animal)

bakaka
banaka

In [ ]:
'makakaka'.replace('k', 'n', 2)

'mananaka'

##Удалить пробелы или иные лишние символы на концах строки
- Часто вам будет необходимо удалить лишние пробелы в начале или конце строки.
- `lstrip()` и `rstrip()` сделают это слева и справа
- `strip()` Удалит пробелы с обеих сторон

In [ ]:
plant = 'aaaairisaa'
print(plant)
print(plant.strip('a'))
print(plant.rstrip('a'))
print(plant.lstrip('a'))

plant = '   iris '
print(plant)
print(plant.strip()) # print(plant.strip(' '))
print(plant.rstrip())
print(plant.lstrip())

aaaairisaa
iris
aaaairis
irisaa
   iris
iris
   iris
iris

##Проверка префикса
метод `startswith()` чувствителен к регистру

In [ ]:
line = 'Please have a nice day'
print(line.startswith('Please'))
print(line.startswith('p'))

True
False

#Методы работы со строкой
Существует несколько способов форматирвоания строк:
- метод `print()` и конкатенация строк
- использования специального знака `%` и Template-строка
- метод `format()`
- f-строка

In [ ]:
name = "Eric"
age = 74
print('Hello,', name, '. You are', age, '.')

Hello, Eric . You are 74 .

In [ ]:
name = "Eric"
age = 74
print('Hello, ' + str(name) + '. You are ' + str(age) + '.')

Hello, Eric. You are 74.

##%-форматирование и Template-строка
%-форматирование - самый популярный способ, который перешел в Python из языка С. Передавать значения в строку можно через списки и кортежи , а также и с помощью словаря.

Template-строка - способ, который появился в Python 2.4, как замена %-форматированию, но популярным так и не стал. Поддерживает передачу значений по имени и использует $-синтаксис как в PHP.

In [ ]:
print("Hello world %s" % 7)

Hello world 7

In [ ]:
name = "Eric"
age = 74
print("My name is %s. I am %d years old." % (name, age))
print("My name is %(name)s. I am %(age)d years old." % {"name": name, "age": age})

My name is Eric. I am 74 years old.
My name is Eric. I am 74 years old.

In [ ]:
name = "Eric"
age = 74
print("His name is %(name)s. He is %(age)d years old. %(name)s lives in London." % {"name": name, "age": age})

His name is Eric. He is 74 years old. Eric lives in London.

In [ ]:
from string import Template
name1 = "Eric"
age1 = 74
s = Template('My name $name. I am $age years old.')
print(s.substitute(name=name1, age=age1))

My name Eric. I am 74 years old.

##Форматирование строк с помощью метода `format()`
Способ появился в Python 3 в качестве замены %-форматированию. Он также поддерживает передачу значений по позиции и по имени.

In [ ]:
name = "Erik"
age = 74
print("My name is {}. I am {}.".format(name, age))
print("My name is {name}. I am {age}.".format(age=age, name=name))

My name is Erik. I am 74.
My name is Erik. I am 74.

In [ ]:
multistr = '''
A B C Z
0 0 0 0
4 0 5 0
{v1} 4 4 0
7 0 7 {v1}
0 0 0 0
4 0 5 0
{v2} 4 4 0
7 0 7 {v2}
0 0 0 0
4 0 5 0
{v3} 4 4 0
7 0 7 {v3}
'''
print(multistr.format(v1=8, v2=1, v3=3))

A B C Z
0 0 0 0
4 0 5 0
8 4 4 0
7 0 7 8
0 0 0 0
4 0 5 0
1 4 4 0
7 0 7 1
0 0 0 0
4 0 5 0
3 4 4 0
7 0 7 3

##f-строка
Форматирование, которое появилось в Python 3.6. Этот способ похож на форматирование с помощью метода `format()`, но гибче, читабельней и быстрей.

In [ ]:
name = "Eric"
age = 74
f"Hello, {name}. You are {age}."

'Hello, Eric. You are 74.'

In [ ]:
F"Hello, {name}. You are {age}."

'Hello, Eric. You are 74.'

In [ ]:
# a = 2*37
# str(a)
f"{2 * 37}"

'74'

In [ ]:
a = '1256'
f'{int(a)}'

'1256'

In [ ]:
f"{name.lower()} is funny."

'eric is funny.'

In [ ]:
name = "Eric"
profession = "comedian"
affiliation = "Monty Python"
message = (
    f"Hi {name}. \n"
    f"You are a {profession}. "
    f"You were in {affiliation}."
)
print(message)

Hi Eric.
You are a comedian. You were in Monty Python.

In [ ]:
message = (
    f"Hi {name}. "
    "You are a {profession}. "
    "You were in {affiliation}."
)
message

'Hi Eric. You are a {profession}. You were in {affiliation}.'

In [ ]:
message = f"Hi {name}. " \
          f"You are a {profession}. " \
          f"You were in {affiliation}."

message

'Hi Eric. You are a comedian. You were in Monty Python.'

In [ ]:
message = f"""
    Hi {name}.
    You are a {profession}.
    You were in {affiliation}.
"""

print(message)

    Hi Eric.
    You are a comedian.
    You were in Monty Python.

In [ ]:
comedian = {'name': 'Eric Idle', 'age': 74}
f'The comedian is {comedian["name"]}, aged {comedian["age"]}.'

'The comedian is Eric Idle, aged 74.'

In [ ]:
comedian = {'name': 'Eric Idle', 'age': 74}
f'The comedian is {comedian['name']}, aged {comedian['age']}.'

SyntaxError: ignored